div.Status
    div#Power
        div.iconWrapper
            div#PowerIcon.icon
        div.Data
    div#People
        div.iconWrapper
            div#PeopleIcon.icon
        div.Data
    div#Money
        div.iconWrapper
            div#MoneyIcon.icon
        div.Data
