div.Status
    div#Power.Data
        div.Container
            div.icon
            div.Data
                p
    div#People.Data
        div.Container
            div.icon
            div.Data
                p
    div#Money.Data
        div.Container
            div.icon
            div.Data
                p
