div.Status
    div#Character.Info
        div.Container
            div.Pic
            span.Name
            
    div#Power.Data
        div.Container
            div.icon
            div.Data
                p 123
    div#People.Data
        div.Container
            div.icon
            div.Data
                p 123,456
    div#Money.Data
        div.Container
            div.icon
            div.Data
                p 123,456,789