.Status {
    background: rgba(125,126,129,0.7);
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    font-family: Arial;
    height: 100%;
    width: 100%;
    padding: 10% 5%;
}

.Status > div {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.iconWrapper {
    width: 30%;
    height: 100%;
}

.Data {
    width: 70%;
    color: #fff;
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}

.icon{
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

#PowerIcon { background-image: url(./img/power.svg); }
#MoneyIcon { background-image: url(./img/money.svg); }
#PeopleIcon { background-image: url(./img/people.svg); }

