div#menu_list
    div#build.btn.btn_img
        span Build
    div#move.btn.btn_img
        span Move
    div#home.btn.btn_img
        span Home

div#build_items
    div#items_content
        div#items_list
        div#items
        div#description
            div#exit_btn.btn
                span X
