div#move_block
    div#move_window
        div#move_window_exit.exit_btn.btn
            span X
        div#left
            canvas
            div.moveCanvasDecoration
            div.buttonList
                div.btn From
                div.btn To
        div#right
            div#total_number Total:
                span 0
            div#control
                div.bar
                    div.btn#minus_3 -
                    div#number_3.number
                        span thousand
                        span 0
                    div.btn#plus_3 +
                div.bar
                    div.btn#minus_2 -
                    div#number_2.number
                        span hundred
                        span 0
                    div.btn#plus_2 +
                div.bar
                    div.btn#minus_1 -
                    div#number_1.number
                        span ten
                        span 0
                    div.btn#plus_1 +
                div.bar
                    div.btn#minus_0 -
                    div#number_0.number
                        span unit
                        span 0
                    div.btn#plus_0 +
            div.gobuttonWrapper
                div#move_submit.btn Go
