
*{
    font-size:16px;
    box-sizing:border-box;
}

.active{
    transform:scale(1.2, 1.2);
}

#menu_list{

    height:100%;
    display:flex;

    flex-direction:row;

    justify-content:space-around;
    align-items:center;

}

#menu_list > .btn{

    display: flex;
	background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    margin: 5%;

}

#menu_list > .btn:hover{
    transform:scale(1.1, 1.1);
    cursor: pointer;
}

#build_items{
    background: rgba(255, 255, 255, 1);
    border: 1px solid #000;
    display:none;
    position:absolute;
    bottom:100%;
    height: 60vh;

    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-around;

    overflow:scroll;
    width: 100%;
}

::-webkit-scrollbar {
    width : 3px ;
}

::-webkit-scrollbar-thumb {
    background: #888;
}


.item{
    width:30%;
    height:30%;
}

.item:hover{
    transform:scale(1.1, 1.1);
}

.img{
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
}

.tag{
    height:20%;
    text-align:center;
}


