
*{
    font-size:16px;
    box-sizing:border-box;
}

.active{
    transform:scale(1.2, 1.2);
}

.btn{

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('../source/img/appearance/button.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    color: #ffffff;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.classes{
    height: 8vh;
    margin: 1vh 0;
}

.class_list{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:flex;

    flex-flow: row wrap;
    justify-content: space-around;
    align-content:flex-start;

    overflow-x:visible;
    overflow-y:scroll;

    visibility:hidden;
    z-index:1;
    padding:1vw;
    background:rgba(0, 0, 0, 0.5);
}

#menu_list{
    width: 100%;
    height:100%;
    align-items:center;
}

#menu_list > .btn{
    float: left;
    width: calc(100% / 3);
    height: 100%;
}


#build_items{
    background: rgba(0, 0, 0, 0.5);
    position:absolute;
    display:none;
    height: 100vh;
    width:100vw;
    top:0px;
}

#items_content{

    position: absolute;
    top:10vh;
    left:20vw;
    width:60%;
    height:80%;

    display:flex;

}

#items_content > div{

    position:relative;
    width:20%;
    background:rgba(0, 0, 0, 0.6);

}

#items_list{
    flex-grow:1;

    display:flex;
    flex-flow:column nowrap;
    overflow:hidden;
    padding-top:5vh;
}

#items{
    flex-grow:2;
}

#exit_btn{

    position:absolute;
    right:0vw;
    width:4vw;
    height:4vw;
}

#exit_btn > span{
    font-size:2rem;
}

::-webkit-scrollbar {
    width : 0px ;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.item{
    margin: 3vw 1vw 0 1vw;
}


.item:hover{
    transform:scale(1.1, 1.1);
}

.img{
    width:4vw;
    height:4vw;
    background-size:cover;
    background-position:center;

    margin:1vw;
}

.tag{
    height:2vw;
    width:6vw;
    text-align:center;
    color:white;
    word-wrap:break-word;
}


