#build_items {
    --build-block-width: 80vw;
    --build-block-height: calc(var(--build-block-width) / 2);
    --build-index-block-width: calc(var(--build-block-width) / 4);
    --build-index-block-height: calc(var(--build-block-height) * 0.8);
    --build-items-block-width: calc(var(--build-block-width) * 0.3);
    --build-items-block-height: calc(var(--build-block-height) * 0.8);
    --description-width: calc(var(--build-block-width) * 0.3);
    --description-height: calc(var(--build-block-height) * 0.8);
    --classes-button-width: calc(var(--build-index-block-width) * 0.7);
    --classes-button-height: calc(var(--classes-button-width) / 3);
    --item-width: calc(var(--build-items-block-width) * 0.25);
    --item-height: var(--item-width);
}

#move_window{

    --move-window-width: 80vw;
    --move-window-height: calc(var(--move-window-width) / 2);
}

*{
    font-size:16px;
    box-sizing:border-box;
}

.active{
    transform:scale(1.2, 1.2);
}

.btn{

    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btn_img{
    background-size: contain;
    background-image: url('../source/img/appearance/button.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#menu_list{
    width: 100%;
    height:100%;
    align-items:center;
}

#menu_list > .btn{
    float: left;
    width: calc(100% / 3);
    height: 100%;
}


#build_items{
    background: rgba(0, 0, 0, 0.5);
    position:absolute;
    display:none;
    height: 100vh;
    width:100vw;
    top:0px;
}

#items_content{

    position: absolute;
    width: var(--build-block-width);
    height: var(--build-block-height);
    top: 50%;
    left: 50%;
    margin-left: calc(var(--build-block-width) / (-2));
    margin-top: calc(var(--build-block-height) / (-2));
    padding: 3.7% 4.3%;

    background-image: url('../source/img/appearance/blockBackground.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

#items_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;

    width: var(--build-index-block-width);
    height: var(--build-index-block-height);
    background-image: url('../source/img/appearance/innerBlock.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#items {
    width: var(--build-items-block-width);
    height: var(--build-items-block-height);
    background-image: url('../source/img/appearance/innerBlock2.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#description {
    width: var(--description-width);
    height: var(--description-height);
}

.exit_btn{
    position:absolute;
    top: 2.8%;
    right: 2.8%;
}

.exit_btn > span{
    font-size:4rem;
    color: #fff;
}

.exit_btn > span:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.item{
    background-image: url('../source/img/appearance/itemBlock.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: var(--item-width);
    height: var(--item-height);
}

.img{
    background-size:cover;
    background-position:center;
    width: 68%;
    height: 68%;
    margin: 16%;
}

.img:hover{
    transform:scale(1.1, 1.1);
}

.classes{
    width: var(--classes-button-width);
    height: var(--classes-button-height);
    margin: 3% 0;
}

.class_list{
    width:100%;
    height:100%;
    display:flex;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;

    overflow-x:visible;
    overflow-y:scroll;

    visibility:hidden;
    z-index:1;

    position: relative;
    padding: 10%;
}

.description{
    position: relative;
    display:none;
    width:100%;
    height:95%;
}

.item_bpic{
    position:relative;
    background-repeat:no-repeat;
    background-size:contain;
    margin:5vh auto;
    width:10vw;
    height:10vw;
}

.wordsInDescription{
    padding:2vh;
    word-break:break-all;
    color:white;
}


#move_block{
    background: rgba(0, 0, 0, 0.5);
    position:absolute;
    height: 100vh;
    width:100vw;
    top:0px;
    display:none;
}

#move_window{

    position: absolute;
    display: flex;
    width: var(--move-window-width);
    height: var(--move-window-height);
    top: 50%;
    left: 50%;
    margin-left: calc(var(--move-window-width) / (-2));
    margin-top: calc(var(--move-window-height) / (-2));
    padding: 3.7% 4.3%;

    background-image: url('../source/img/appearance/blockBackground.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#right, #left{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
}

#control div, #control span{
    font-size: 4vw;
    color: white;
}

#total_number{
    font-size:5vw;
    position: relative;
    color: white;
}

#total_number > span{
    font-size:4vw;
    padding:1vw;
}

.bar{
    padding: 1%;
    display: flex;
}

#control{
    margin:3% 0;
}


#move_submit{
    float:right;
    padding-right:6vw;
    font-size:5vw;
}

.number{
    width: calc(var(--move-window-width) / 2 * 0.65);
    padding:0 7%;
}

.number > span{
    float:right;
}
