div.ChatRoom
    div.tab
        button#Tab.tablinks Chat
        button#activeTab.tablinks Server Message

    div#Chat.tabcontent
        div#show
        div#input
            input#content(placeholder="Please input message here")

    div#ServerMsg.tabcontent
        div#show