.ChatRoom {
	box-sizing:border-box;
    font-family: Arial;
    height: 100%;
    width: 100%;
}


/* Style the tab */
.tab {
    overflow: hidden;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    cursor: pointer;
    float: left;
    width: 50%;
    height: 2.5rem;

    border: 0.05rem solid #ccc;
    border-bottom: none;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    padding: 0.5rem 0.6rem;
    transition: 0.3s;
    font-size: 17px;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;   
}



/* Style the tab content */
.tabcontent {
    display: none;

    border: 0.05rem solid #ccc;
    height: calc(100% - 2.5rem);
    width:100%;
}
#Chat #show{
    overflow-y: scroll;
    height: calc(100% - 2rem);
    width: 100%;
}
#ServerMsg #show{
    overflow-y: scroll;
    height: calc(100%);
    width: 100%;
}



/* Style the Message input line*/
#input{
    background-color: #ccc;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 2rem;
    width: 100%;
}
.tabcontent #content{
    width: 80%;
    border: 0.1rem solid #ccc;
    border-radius: 0.25rem;
    padding-left: 0.3rem
}
.tabcontent #btn{
    width: 16%;
    border: 0.1rem solid #ccc;
    border-radius: 0.25rem;
    padding-right:0.3rem;
}




/* Style the chat Message */
#Chat #show div{
    margin-top:0.3rem;
    margin-bottom: 0.3rem;

    margin-left:0.4rem;
    margin-right:30%;
}
#Chat #show div span{
    background:rgb(245,242,242);
    position: relative;
    top: -10px;

    border: 0.05rem solid #ccc;
    border-radius:0.6rem;
    padding: 0.35rem;
    
    max-width: calc(100% - 45px);
    display:inline-block; 
    word-wrap:break-word;
    word-break: break-all;
}
#Chat #show div img{
    width: 40px;
    /*border: 0.03rem solid black;*/
    border-radius:100%;
    background:rgb(245,242,242);
}

#Chat #show div.user{
    text-align:right;
    margin-left:30%;
    margin-right:0.4rem;
}
#Chat #show div.user span{
    background:rgb(53,120,229);
    color:white;
    max-width:100%
}



/* Style the server Message */
#ServerMsg #show div{  
    background:rgb(245,242,242);

    width: 90%;
    margin:0.3rem auto;
    border: 0.05rem solid #ccc;
    border-radius:0.6rem;
    padding: 0.35rem;

    word-break: break-all;
}
