.ChatRoom {
    position: fixed;
    bottom: 0px;

	box-sizing:border-box;
    font-family: Arial;
    height: 30rem;
    width: 30rem;
}

.chatRoom {
    overflow-y: scroll;
    height: calc(100% - 2.3rem);
    width: 100%;
    background-color:rgba(190, 182, 182, 0.7);

    border: 0.1rem solid black;
    border-bottom: none;
}


/*The style of the message*/
#message #show div{
    padding: 0.2rem 1rem ;
    word-wrap:break-word;
    word-break: break-all;
}
#message #show .server{
    color: red;
}
#message #show .client{
    color: black;
}


/*The style of the showTab*/
.showTab{
    display: flex;
    align-items: center;
    justify-content: space-around;

    float: left;
    height: 2.3rem;
    width:100%;

    border: 0.1rem solid black;
}
.ChatRoom #input{
    background-color:rgba(190, 182, 182);    
    width:calc(100% - 1rem);
    border-right: none;
}
.ChatRoom #dump{
    background-color: black;
    width:1rem;
    border-left: none;
}
#content{
    border: 0.1rem solid #ccc;
    border-radius: 0.25rem;
    padding-left: 0.3rem;
    width: 96%;
}