.ChatRoom {
    position: fixed;
    bottom: 0px;

	box-sizing:border-box;
    font-family: Arial;
    height: 30rem;
}

.chatRoom {
    overflow-y: scroll;
    height: calc(100% - 2.3rem);
    width: 100%;
    background-color:rgba(106, 105, 104, 0.7);
}


/*The style of the message*/
#message #show div{
    padding: 0.2rem 1rem ;
    word-wrap:break-word;
    word-break: break-all;
}
#message #show .server{
    color: red;
}
#message #show .client{
    color: black;
}


/*The style of the showTab*/
.showTab{
    display: flex;
    align-items: center;
    justify-content: space-around;

    float: left;
    height: 2.3rem;
    width:100%;
}
.ChatRoom #input{
    background-color: #6C6B74;
    width: 100%;
}
#content{
    border: 0;
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    background-color: transparent;
    color: #fff;
}
