:root {
    --statusBar-width: 10.53vw;
    --statusBar-height: calc(var(--statusBar-width) * 1.3);
    --menu-width: 26.32vw;
    --menu-height: calc(var(--menu-width) * 0.11);
    --miniMap-width: 26.32vw;
    --miniMap-height: var(--miniMap-width);
    --room-width: 26.32vw;
    --room-height: var(--room-width);
}

@font-face {
    font-family: 'Minecraft';
    src: url('./source/fonts/Minecraft.ttf')
}

@font-face {
    font-family: 'misaki-mincho';
    src: url('./source/fonts/misaki_mincho.ttf');
}

* {
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: 'Minecraft', 'misaki-mincho', sans-serif;
}

html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#statusBar, #miniMapWrapper, #room, #menu { position: absolute; }

#mainMap {
    width: 100vw;
    height: 100vh;
}

#statusBar {
    width: var(--statusBar-width);
    height: var(--statusBar-height);
    top: 25%;
    left: calc(var(--statusBar-width) * (-1) + 20px);
    transition: left .3s ease;
}

#statusBar:hover {
    left: 0;
}

#menu{
    position: absolute;
    width: var(--menu-width);
    height: var(--menu-height);
    bottom: 0;
    right: 0;
}

#miniMapWrapper {
    width: var(--miniMap-width);
    height: var(--miniMap-height);
    top: 0;
    right: 0;
}

.miniMap, .miniMap > canvas {
    width: 100%;
    height: 100%;
}

.miniMapDecoration {
    background-image: url('./source/img/appearance/miniMap.svg');
    background-size: 100%;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#room {
    width: var(--room-width);
    height: var(--room-height);
    bottom: 0;
    left: 0;
}
