* { box-sizing: border-box; }

html, body {
    margin: 0 auto;
    padding: 0;
}

.container {
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    height: auto;
}

.row-1 { height: 12.5vh; }
.row-2 { height: 25vh; }
.row-3 { height: 37.5vh; }
.row-4 { height: 50vh; }
.row-5 { height: 62.5vh; }
.row-6 { height: 75vh; }
.row-7 { height: 87.5vh; }
.row-8 { height: 100vh; }

#mainMap, #statusBar, #miniMap, #room, #menu {
    border: 0.5px solid #000;
}

#mainMap {
    height: 100vh;
    width: calc(100vw - 350px);
    min-width: 100vh;
    float: left;
    text-align: center;
}

.aside {
    height: 100vh;
    width: 350px;
    float: left;
}
