doctype html
html
    head
        meta(charset="utf-8" name="viewport" content="width=device-width")
        title WEB-RTS-Game
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body
        section#mainMap
        section#statusBar
            include status/status.pug
        section#miniMapWrapper
            div.miniMap
                canvas
            div.miniMapDecoration
        section#room
            include room/chatRoom.pug
        section#menu
            include menu/index.pug
        div#build_items
            div#items_content
                div#items_list
                div#items
                div#description
                    div#exit_btn.btn
                        span X
