doctype html
html
    head
        meta(charset="utf-8" name="viewport" content="width=device-width")
        title WEB-RTS-Game
    body
        div.container
            div.col-6
                section#mainMap.row-6
                section#statusBar.row-2
            div.col-4
                section#miniMap.row-2
                section#room.row-4
                section#menu.row-2
