* { box-sizing: border-box; }

html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    height: 100%;
}

.row-1 { height: calc(100% / 12); }
.row-2 { height: calc(100% / 6); }
.row-3 { height: 25%; }
.row-4 { height: calc(100% / 3); }
.row-5 { height: calc(100% * 5 / 12); }
.row-6 { height: 50%; }
.row-7 { height: calc(100% * 7 / 12); }
.row-8 { height: calc(100% * 2 / 3); }
.row-9 { height: 75%; }
.row-10 { height: calc(100% * 5 / 6); }
.row-11 { height: calc(100% * 11 / 12); }
.row-12 { height: 100%; }


#mainMap, #statusBar, #miniMap, #room, #menu {
    border: 0.5px solid #000;
}

#mainMap {
    width: calc(100vw - 600px);
    min-width: 100vh;
    height: 100%;
    float: left;
}

.aside {
    height: 100%;
    width: 600px;
    float: left;
}

#menu{
    position:relative;
}
